<div class="container text-center mt-4">
    <img src="/image/logo-index.png" alt="To-Do App Illustration" class="img-fluid mb-4" style="max-width: 300px; height: auto;">

    <h1 class="mb-4 ">Selamat Datang di Aplikasi <span class="cherrylist">CherryList!</span></h1>


    <p class="lead text-muted">
        Kelola tugas Anda dengan mudah dan gaya. CherryList adalah teman terbaik Anda untuk mencapai produktivitas maksimal tanpa stres. 
        Sederhana, efektif, dan dirancang khusus untuk mendukung hari Anda!
    </p>

    <div class="row justify-content-center mt-5">
        <div class="col-6 col-md-3 text-center">
            <i class="fas fa-check-circle text-success" style="font-size: 50px;"></i>
            <p class="mt-3 fw-bold">Mudah Digunakan</p>
        </div>
        <div class="col-6 col-md-3 text-center">
            <i class="fas fa-calendar-alt text-primary" style="font-size: 50px;"></i>
            <p class="mt-3 fw-bold">Pengingat Harian</p>
        </div>
        <div class="col-6 col-md-3 text-center">
            <i class="fas fa-star text-warning" style="font-size: 50px;"></i>
            <p class="mt-3 fw-bold">Prioritaskan Tugas</p>
        </div>
        <div class="col-6 col-md-3 text-center">
            <i class="fas fa-heart text-danger" style="font-size: 50px;"></i>
            <p class="mt-3 fw-bold">Desain Menarik</p>
        </div> 
    </div>

    <div class="mt-5">
        <p class="fw-400">
            Atur hari Anda dengan lebih mudah! Mari mulai dengan CherryList.
        </p>
        <a href="/todo-view" class="btn btn-purple btn-lg">
            Ayo Mulai!
        </a>
    </div>
    
</div>



